@{
    ViewData["Title"] = "Home sweet home";
    ViewData["Page class"] = "page-home";
}

<section class="introduction standard">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome, this is the online home of Nick Bergquist of which I have discovered there are many online. Living in England, I once received an e-mail from Nick Bergquist's father in Bermuda requesting babysitting duties, an offer alas I had to decline.</p>

    <h2>What this is</h2>
    <p>This site showcases work in which I have been involved recently and is used as an online platform in which I can experiment with the latest <a href="https://en.wikipedia.org/wiki/ASP.NET_Core">ASP.NET Core</a> platform from Microsoft as well as Javascript and <a href="http://sass-lang.com/">SASS</a>. Head over to the <a href="/about/">about</a> page for more details.</p>
</section>

<section class="portfolio promotion">
    <div class="promo-item">
        <h2>Recent work</h2>
        <p><a href="/work/">Details</a> &amp; previous stuff</p>
    </div>
</section>

<section class="work standard">
    <h2>Work</h2>
    <p>I have recently worked in permanent and contract positions for 'blue chip' companies, small start-ups, charitable organisations and individuals.</p>
    <p>If you wish to get an idea of some of the work I have been involved in please head over to the <a href="/work/">work</a> page to see more.</p>
</section>

<section class="locale promotion">
    <div class="promo-item">
        <h2>The Medway Towns</h2>
        <p>Home for now</p>
    </div>
</section>

<section class="summary standard">
    <h2>Location</h2>
    <p>Currently living in the Medway Towns in Kent, great for history, great for getting into London and for messing about on rivers - the photo above was taken on a Dutch barge boat trip from Rochester on the Medway to Barking on the Thames. I might add a few more photos here sometime.</p>
</section>

