@{
    ViewData["Title"] = "Home";
    ViewData["Page class"] = "page-home";
}

<h1>@ViewData["Title"]</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<h2>Heading h2</h2>
<p>'Twas brillig, and the slithy toves did gyre and gimble in the wabe: all mimsy were the borogoves, and the mome raths outgrabe. Beware the Jabberwock, my son! The jaws that bite, the claws that catch! Beware the Jubjub bird, and shun the frumious Bandersnatch! He took his vorpal sword in hand; long time the manxome foe he sought — so rested he by the Tumtum tree and stood awhile in thought. And, as in uffish thought he stood, the Jabberwock, with eyes of flame, came whiffling through the tulgey wood, and burbled as it came!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

<h3>Heading h3</h3>
<p>Lorem ipsum dolor sit amet, consectetur...</p>
<p>Lorem incididunt ut labore et dolore magna aliqua.</p>



