@{
    ViewData["Title"] = "Home Page";
}

<h1>Heading h1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<h2>Heading h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
<p>Lorem ipsum consectetur incididunt ut labore et dolore magna aliqua.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

<h3>Heading h3</h3>
<p>Lorem ipsum dolor sit amet, consectetur...</p>
<p>Lorem incididunt ut labore et dolore magna aliqua.</p>

<button>Stop it</button>
<button class="button-test">Stop it</button>

<p class="error">Error</p>
<p class="warning">Warning</p>
<p class="success">Success</p>
