@{
    ViewData["Title"] = "About";
    ViewData["Page class"] = "page-about";
}

<h1>@ViewData["Title"]</h1>
<p>fwibble</p>
<p>... is created, built and written by me, Nick Bergquist. I’m a front end developer from the UK working at/on ...</p>