$primary: #d1497c;
$secondary: #381e56;
$tertiary: #63428c;

$grey-1: #f0f1f3;
$grey-2: #e1e3e7;
$grey-3: #c3c7cf;
$grey-4: #a6aab6;
$grey-5: #888e9e;
$grey-6: #6a7285;
$grey-7: #444957;

$success: #00c000;
$error: #ff0;
$warning: #f00;

h1 {
  color: $primary;
  text-shadow: 32px 17px $warning;

}

%message {
  background-color: $grey-3;
  border-color: $grey-4;
}

.success {
  @extend %message;
  border-color: $success;
}

.error {
  @extend %message;
  border-color: $error;
}

.warning {
  @extend %message;
  border-color: $warning;
}
