@import '../utils/module';

///////////////
//  images   //
///////////////

$background-header: '../../images/background-rainbow.jpg';


////////////////
//  palette   //
////////////////

$palette-main: alternate;

$home-colour: palette-colour($palette-main, 'primary');
$about-colour: palette-colour($palette-main, 'secondary');
$work-colour: palette-colour($palette-main, 'background');
$contact-colour: palette-colour($palette-main, 'foreground');


///////////////
//  inputs   //
///////////////

$button-primary-colour: palette-colour($palette-main, 'primary');
$button-secondary-colour: palette-colour-alpha($palette-main, 'secondary', 'dark');
$button-accent-colour: palette-colour($palette-main, 'accent');

$input-text-standard-border-colour: palette-colour($palette-main, 'secondary');

$legend-colour: palette-colour($palette-main, 'secondary');




@import '../main';
