
.form-main {
  margin: 1.25rem percentage(20/strip-units($max-viewport-width)) 1.8em; // 10px either side at full width
  overflow: hidden;
  position: relative;

  & dd {
    float: none;
    min-height: 8rem;

    &:last-child {
      min-height: 21rem;
    }

    & span {
      display: block;
      padding-top: .15rem;
    }

    @include mq-small {
      float: left;
      width: 75%;
    }

    @include mq-medium {
      & [name='SenderName'] { //
        width: 70%;
      }

      & [name='SenderEmailAddress'] {
        width: 85%;
      }
    }
  }

  & dl {
    @include mq-small {
      margin: 0 auto .75rem;
    }

    @include mq-medium {
      width: 85%;
    }
  }

  & dt {
    float: none;

    &::after {
      content: '';
    }

    @include mq-small {
      clear: left;
      float: left;
      margin-top: 1rem;
      padding-right: percentage(20/strip-units($max-viewport-width));
      width: 25%;
    }
  }

  @include mq-medium {
    margin: 2rem auto;
    width: 85%;
  }

  @include mq-large {
    width: 65%;
  }

  & legend {
    @include font-size-margin-ratio($legend-font-size, 2);
    color: $legend-colour;
    font-family: #{$legend-font-family};
    line-height: 1.75;
  }

  & [type='submit'] {
    float: right;
  }
}

.advice-form-fields {
  font-size: inherit;
  margin-bottom: 0;
  position: absolute;
  right: percentage(20/strip-units($max-viewport-width));
  top: 1rem;
  width: auto;

  &::before {
    color: $input-text-standard-border-colour;
    content: '*';
    left: -5px;
    position: relative;
  }
}

.required {
  &::after {
    color: $input-text-standard-border-colour;
    content: '*';
    left: 5px;
    position: relative;
  }
}
