
.form-main {
  overflow: hidden;
  padding: 1.25rem percentage(20/strip-units($max-viewport-width)) 1.8em; // 10px either side at full width
  position: relative;

  & dd {
    float: none;
    margin-bottom: 3em;

    & span {
      display: block;
      padding-top: .5rem;
    }

    @include mq-small {
      float: left;
      width: 75%;
    }

    @include mq-medium {
      & [name='form-contact-name'] {
        width: 70%;
      }

      & [name='form-contact-email'] {
        width: 85%;
      }
    }
  }

  & dl {
    @include mq-small {
      margin: 1rem auto .75rem;
    }

    @include mq-medium {
      width: 85%;
    }
  }

  & dt {
    float: none;

    &::after {
      content: '';
    }

    @include mq-small {
      clear: left;
      float: left;
      margin-top: 1rem;
      padding-right: percentage(20/strip-units($max-viewport-width));
      width: 25%;
    }
  }

  @include mq-medium {
    margin: 2rem auto;
    padding: 1rem 0 1.5rem;
    width: 85%;
  }

  @include mq-large {
    width: 65%;
  }

  & legend {
    @include font-size-margin-ratio($legend-font-size);

    color: $legend-colour;
    font-family: #{$legend-font-family};
  }

  & [type='submit'] {
    float: right;
  }
}

.advice-form-fields {
  font-size: inherit;
  margin-bottom: 0;
  position: absolute;
  right: percentage(20/strip-units($max-viewport-width));
  top: 2rem;
  width: auto;

  &::before {
    color: $input-text-standard-border-colour;
    content: '*';
    left: -5px;
    position: relative;
  }
}

.required {
  &::after {
    color: $input-text-standard-border-colour;
    content: '*';
    left: 2px;
    position: relative;
  }
}
