header {
  background: url('#{$background-header}') no-repeat fixed center center / cover;
  box-shadow: 0 -5px 4px -5px $edge-shadow-colour inset;
  min-height: 8rem;

  &::before {
    box-shadow: 0 0 3px 1px $edge-shadow-colour;
    content: '';
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  & .nav-button-show {
    position: absolute;
    right: 1.75rem;
    top: 1.5rem;
  }
}

.logo-site {
  margin-bottom: 0;
}
