header {
  background: url('../images/background-monster.jpg') no-repeat fixed center center / cover;
  overflow: hidden;

  .page-home & {
    min-height: 100%;
  }

  //&::after {
  //  background-color: palette-colour-alpha('mono', 'dark', 'dark');
  //  bottom: 0;
  //  content: '';
  //  left: 0;
  //  position: absolute;
  //  right: 0;
  //  top: 0;
  //}
}

.logo-site {
  margin-bottom: 0;
  z-index: 1;

  .page-home & {
    left: 50%;
    margin-left: -160px;
    padding: 25px;
    position: absolute;
    top: 40%;
    width: 320px;
  }
}
