header {
  background: url('../images/20.jpg') no-repeat fixed center center / cover;
  min-height: 100%;
  outline: 1px dotted palette-colour('main', 'foreground');
  overflow: hidden;
  padding: 0 percentage(20/strip-units($max-viewport-width));  // 10px either side at full width
  position: relative;

  &::after {
    background-color: palette-colour-alpha('mono', 'dark', 'dark');
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
