
%button {
  border-style: solid;
  border-width: $button-border-width;
  display: inline-block;
  font-size: $button-font-size;
  font-weight: bold;
  padding: $button-padding;
}

button {
  @extend %button;
  @include button-theme(palette-colour($palette-main, 'primary'));

  &.secondary {
    @include button-theme(palette-colour($palette-main, 'accent'));
  }
}

[type='submit'] {
  @extend %button;
  @include button-theme(palette-colour($palette-main, 'primary'));
}




//.button-test {
//  background-color: palette-colour-alpha($palette-mono, 'dark', 'medium');
//}
