
%button-standard {
  border-style: solid;
  border-width: $button-border-width;
  display: inline-block;
  font-size: $button-font-size;
  font-weight: bold;
  padding: $button-padding;
}

[type='submit'] {
  @extend %button-standard;
  @include button-theme($button-primary-colour);
}

.button {
  @extend %button-standard;
  @include button-theme($button-primary-colour, $button-accent-colour);

  &.secondary {
    @include button-theme($button-secondary-colour);
  }
}

%button-show {
  overflow: hidden;
  text-indent: -999em;
}

.nav-button-show {
  @extend %button-show;

  background-color: palette-colour-alpha('mono', 'dark', 'dark');
  height: 50px;
  width: 50px;

  &:hover {
    background-color: $button-primary-colour;
  }
}
