
%button-standard {
  border-style: solid;
  border-width: $button-border-width;
  display: inline-block;
  font-size: calc-rem($button-font-size)#{'rem'};
  font-weight: bold;
  padding: #{calc-rem($button-vert-padding)}#{'rem'} #{calc-rem($button-horiz-padding)}#{'rem'};
}

[type='submit'] {
  @extend %button-standard;
  @include button-theme($button-primary-colour);
}

.button {
  @extend %button-standard;
  @include button-theme($button-primary-colour, $button-accent-colour);

  &.secondary {
    @include button-theme($button-secondary-colour);
  }
}

%button-show {
  position: relative;

  &::before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    //transition: color .9s ease-in-out;
  }
}

.nav-button-show {
  @extend %button-show;

  background-color: $button-nav-background-colour;
  color: darken($button-nav-colour, 10%);
  font-family: $svg-icons-font-family;
  font-size: calc-rem($button-nav-font-size)#{'rem'};
  height: calc-rem($button-nav-height)#{'rem'};
  text-shadow: 1px 1px 2px $edge-shadow-colour;
  width: calc-rem($button-nav-width)#{'rem'};

  &::before {
    content: $button-nav-content;
    padding: calc-rem($button-nav-padding)#{'rem'};
  }

  &:hover {
    color: $button-nav-hover-colour;
  }

  &.active {
    color: $button-nav-active-colour;

    &::before {
      content: $button-nav-active-content;
    }
  }

  & span {
    display: inline-block;
    overflow: hidden;
    text-indent: -999em;
  }
}
