nav {
  width: 100%;

  & a {
    display: block;
    padding: 1.2rem 0;
  }

  & li {
    display: table-cell;
    vertical-align: middle;
  }

  & ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
  }

  .page-home & {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

