

body {
  background-color: palette-colour($palette-mono, 'lightest');
  min-width: $min-viewport-width;
}

dd {
  float: right;
  width: auto;
}

dl {
  margin-bottom: .75rem;
  overflow: hidden;
}

dt {
  clear: left;
  float: left;
  width: auto;

  &::after {
    content: ':';
  }
}

html {
  background-color: palette-colour('mono', 'dark');

  &.page-home {
    background-color: palette-colour('mono', 'lightest');
  }
}

main {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }

  overflow: hidden;
  padding: 2.5rem percentage(20/strip-units($max-viewport-width)) 4rem; // 10px either side at full width
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-colour;
  text-shadow: 1px 1px 1px $edge-shadow-colour;
}

h1 {
  color: darken(palette-colour($palette-main, 'background'), 20%);
  text-align: center;
}

.content-restrict {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }

  padding: 0 percentage(20/strip-units($max-viewport-width)); // 10px either side at full width
}

.skip {
  &:active {
    position: static;
  }

  &:focus {
    position: static;
  }
}
