

body {
  min-width: $min-viewport-width;
}



h1 {
  color: palette-colour('main', 'primary');
  text-shadow: 3px 3px 1px palette-colour('mono', 'light');
}

h2 {
  color: palette-colour('main', 'primary');
  text-shadow: 3px 3px 1px palette-colour('main', 'background');
}


.just-a-test {
  @include mq-small {
    font-size: 18px;
  }

  @include mq-medium {
    font-size: 20px;
  }

  font-size: 16px;
}

.vendor-prefix-test {
  //display: flex;
  //flex: 0 0 8.4em;
  //flex-wrap: wrap;
  //justify-content: space-between;
  justify-content: center;
}


