

body {
  min-width: $min-viewport-width;
}

main,
.content-restrict {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }

  overflow: hidden;
  padding: 2.5rem percentage(20/strip-units($max-viewport-width)) 1.25rem; // 10px either side at full width
}

h1 {
  color: palette-colour('main', 'primary');
  text-shadow: 3px 3px 1px palette-colour('mono', 'light');
}

h2 {
  color: palette-colour('main', 'primary');
  text-shadow: 3px 3px 1px palette-colour('mono', 'light');
}

.content-restrict {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }

  padding: 0 percentage(20/strip-units($max-viewport-width)); // 10px either side at full width
}

.skip {
  &:active {
    position: static;
  }

  &:focus {
    position: static;
  }
}


