// base typographical rules only 

@include font-face($base-type-name, $base-type-path);
@include font-face($base-heading-type-name, $base-heading-type-path);
@include font-face($alt-emphasis-type-name, $alt-emphasis-type-path);
@include font-face($svg-icons-type-name, $svg-icons-type-path);

body {
  font: #{$base-root-font-size} / #{$base-line-height} #{$base-font-family};
}

html {
  font-size: $base-font-proportional-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: #{$base-heading-font-family};
}

h1 {
  @include font-size-margin-ratio($h1-size, 2);
}

h2 {
  @include font-size-margin-ratio($h2-size);
}

h3 {
  @include font-size-margin-ratio($h3-size);
}

h4 {
  @include font-size-margin-ratio($h4-size);
}

p {
  @include font-size-margin-ratio($paragraph-size);
}
