
//////////////
//  fonts   //
//////////////

$fonts: (
  base-sans-serif: (
    name: 'OpenSans-Regular',
    family: 'OpenSans-Regular, Arial, Helvetica, sans-serif',
    path: '../type/OpenSans-Regular',
    line-height: 1.5,
    size-proportional: 62.5%, // (62.5/100)*16 : 10px : 1rem
    size-root: 1.4rem,
  ),
  base-heading-sans-serif: (
    name: 'ArchivoBlack-Regular',
    family: 'ArchivoBlack-Regular, sans-serif',
    path: '../type/archivoblack-regular-webfont',
  ),
  alt-emphasis-sans-serif: (
    name: 'FrancoisOne-Regular',
    family: 'FrancoisOne-Regular, sans-serif',
    path: '../type/francoisone-regular-webfont',
  ),
  svg-icons: (
    name: 'menu-fontello',
    family: 'menu-fontello',
    path: '../type/menu-fontello',
  )
);


////////////////
//  palette   //
////////////////

$palettes: (
  mono: (
    darkest: #000,
    dark: #333,
    mid: #666,
    light: #888,
    lightest: #fff,
  ),
  main: (
    primary: #c03,
    secondary: #0077db,
    background: #ccc,
    foreground: #4b5b6e,
    accent: #fecc09,
  ),
  alternate: (
    primary: #39552f,
    secondary: #a80054,
    background: #c93,
    foreground: #898421,
    accent: #eeecb9,
  )
);

$palette-tools: (
  opacity: (
    light: .75,
    medium: .5,
    dark: .25
  )
);

//////////////////////
//  media queries   //
//////////////////////

$breakpoints: (
  base: 320px,
  small: 480px,
  medium: 768px,
  large: 1024px,
  full: 1280px
);
