
////////////////
//  palette   //
////////////////

$palettes: (
  'mono': (
    'black': #000,
    'dark': #333,
    'mid': #666,
    'light': #888,
    'white': #fff,
  ),
  'main': (
    'primary': #c03,
    'secondary': #0077db,
    'background': #ccc,
    'foreground': #4b5b6e,
    'accent': #fecc09,
  )
);

$palette-tools: (
  'opacity': (
    'light': .75,
    'medium': .5,
    'dark': .25
  )
);

//////////////////////
//  media queries   //
//////////////////////

$breakpoints: (
  base: 320px,
  small: 480px,
  medium: 768px,
  large: 1024px,
  full: 1280px
);
