


//////////////////////
//  typographical   //
//////////////////////
$base-line-height: 1.5;
$base-font-size: 62.5%; // (62.5/100)*16 : 10px  1 rem
$base-body-font-size: 1.4rem;
$base-font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
