
///////////////
//  images   //
///////////////

$background-header: '../images/background-monster.jpg' !default;


///////////////
//  inputs   //
///////////////

$button-padding: .5rem 1rem !default;
$button-font-size: 1.3rem !default;
$button-border-width: 1px !default;


////////////////
//  palette   //
////////////////

$palette-main: main !default;
$palette-mono: mono;


//////////////////////
//  typographical   //
//////////////////////
$base-type: base-sans-serif !default;
$base-line-height: map-get(map-get($fonts, $base-type), line-height);
$base-font-size: map-get(map-get($fonts, $base-type), size-proportional);
$base-body-font-size: map-get(map-get($fonts, $base-type), size-root);
$base-font-family: map-get(map-get($fonts, $base-type), family);

$h1-size: 36px;
$h2-size: 24px;
$h3-size: 18px;
$paragraph-size: 14px;


/////////////////
//  viewport   //
/////////////////

$min-viewport-width: 320px;
$max-viewport-width: 1280px;
