


//////////////////////
//  typographical   //
//////////////////////
$base-line-height: 1.5;
$base-font-size: 62.5%; // (62.5/100)*16 : 10px : 1rem
$base-body-font-size: 1.4rem;
$base-font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;


/////////////////
//  viewport   //
/////////////////

$min-viewport-width: 320px;
$max-viewport-width: 1280px;


///////////////
//  inputs   //
///////////////

$button-padding: .5rem 1rem;
$button-font-size: 1.3rem;
//$button-bgcolor: #d9534f;     // the primary brand color
$button-border-width: 1px;
//$button-color-hover: #fcfcfc; // the light/white brand color

