// .page-home

body {
  .page-home & {
    height: 100%;
  }
}

header {
  .page-home & {
    min-height: 100%;
  }
}

html {
  &.page-home {
    height: 100%;
  }
}

nav {
  @include mq-small {
    .page-home & {
      bottom: 0;
      position: absolute;
    }
  }

  .page-home & {
    margin-top: 8rem;
  }
}

@include mq-base {
  .page-home {
    & nav {
      box-shadow: 0 5px 10px 1px $edge-shadow-colour;

      &.active {
        animation: shift-horizontal .2s ease-in-out;
      }
    }
  }
}

.logo-site {
  .page-home & {
    background-color: palette-colour-alpha('mono', 'mid', 'dark');
    box-shadow: 0 0 125px palette-colour-alpha('mono', 'lightest', 'light');
    font-size: calc-rem(21px)#{'rem'};
    left: 50%;
    margin-left: -160px;
    padding: 25px;
    position: absolute;
    top: 40%;
    width: 320px;
  }
}
