@{
    ViewData["Title"] = "Contact";
    ViewData["Page class"] = "page-contact";
}

<h1>@ViewData["Title"]</h1>
<p>Contact details</p>






<button class="button">button-primary</button>

<button class="button secondary">button-secondary</button>

<input type="submit" value="Input - submit" />
