@{
    ViewData["Title"] = "Contact";
    ViewData["Page class"] = "page-contact";
}

<h1>@ViewData["Title"]</h1>
<p>If you wish to get in touch regarding complaints, praise, previous work, current work or indeed future work please do so here.</p>


<form id="contact-form" action="" method="post" class="form-main" role="form">
    <p class="advice-form-fields">Required fields</p>
    <fieldset>
        <legend>Drop me a line</legend>
        <dl>
            <dt>
                <label class="required" for="form-contact-name">Your name</label>
            </dt>
            <dd>
                <input id="form-contact-name" name="form-contact-name" type="text" />
            </dd>
            <dt>
                <label class="required" for="form-contact-email">Your e-mail</label>
            </dt>
            <dd>
                <input id="form-contact-email" name="form-contact-email" type="text" />
            </dd>
            <dt>
                <label class="required" for="form-contact-subject">Subject</label>
            </dt>
            <dd>
                <input id="form-contact-subject" name="form-contact-subject" type="text" />
            </dd>
            <dt>
                <label class="required" for="form-contact-body">Message</label>
            </dt>
            <dd>
                <textarea id="form-contact-body" name="form-contact-body" rows="6"></textarea>
            </dd>
        </dl>
    </fieldset>
    <input type="submit" value="Send" />
</form>
